.DS_Store
UDK
Binaries
build
DerivedData
xcshareddata
xcuserdata
project.xcworkspace
*.dSYM
*.linux
.vscode
Utilities/AppleEfiSignTool/AppleEfiSignTool
Utilities/ACPIe/ACPIe
Utilities/acdtinfo/acdtinfo
Utilities/disklabel/disklabel
Utilities/EfiResTool/EfiResTool
Utilities/macserial/macserial
Utilities/icnspack/icnspack
Utilities/ocpasswordgen/ocpasswordgen
Utilities/ocvalidate/ocvalidate
Utilities/LogoutHook/nvramdump
Utilities/RsaTool/RsaTool
Utilities/TestBmf/Bmf
Utilities/TestCpuFrequency/CpuFrequency
Utilities/TestDiskImage/DiskImage
Utilities/TestHelloWorld/HelloWorld
Utilities/TestImg4/Img4
Utilities/TestMp3/Mp3
Utilities/TestMp3/test.bin
Utilities/TestKernelCollection2/KernelCollection2
Utilities/TestKextInject/KextInject
Utilities/TestKextInject/Result.xml
Utilities/TestMacho/Macho
Utilities/TestRsaPreprocess/RsaPreprocess
Utilities/TestSmbios/Smbios
Utilities/TestPeCoff/PeCoff
*.o
*.o.tmp
*.exe
*.gcda
*.gcno
FUZZDICT
COVERAGE
fuzz-*.log
crash-*
oom-*
slow-unit-*
*.log
*.aux
*.out
*.synctex.gz
*.toc
out.bin
prelinkedkernel.unpack
.gdb_history
*.dmg
*.chunklist
*.pyc
*.id0
*.id1
*.id2
*.nam
*.til
*.aml
Debug/QemuRun
Doxy
Legacy/BinDrivers/X64
Legacy/BinDrivers/IA32
Legacy/BootLoader/bin
Legacy/BootSector/bin
Utilities/ocvalidate/*.plist
