.DS_Store
UDK
Binaries
build
DerivedData
xcshareddata
xcuserdata
project.xcworkspace
*.dSYM
Utilities/RsaTool/RsaTool
Utilities/EfiResTool/EfiResTool
Utilities/AppleEfiSignTool/AppleEfiSignTool
Utilities/macserial/macserial
Utilities/icnspack/icnspack
Utilities/DiskImage/DiskImage
Utilities/HelloWorld/HelloWorld
Utilities/KextInject/KextInject
Utilities/KextInject/Result.xml
Utilities/ConfigValidity/ConfigValidity
Utilities/disklabel/disklabel
Utilities/Bmf/Bmf
Utilities/Macho/Macho
Utilities/Img4/Img4
Utilities/Smbios/Smbios
Utilities/RsaPreprocess/RsaPreprocess
*.o
*.exe
DICT
fuzz-*.log
crash-*
oom-*
slow-unit-*
*.log
*.aux
*.out
*.synctex.gz
*.toc
out.bin
prelinkedkernel.unpack
.gdb_history
*.dmg
*.chunklist
*.pyc
Debug/QemuRun
Doxy
Legacy/BinDrivers/X64
Legacy/BinDrivers/IA32
Legacy/BootLoader/bin
Legacy/BootSector/bin
