oc_project_name='OcSupport'
oc_package_name='OcSupportPkg'
oc_release_support=true
oc_version_header_file=''
oc_version_macro_name=''
oc_dependency_repos=( https://github.com/acidanthera/EfiPkg )
oc_dependency_names=( EfiPkg )
oc_dependency_branches=(
  'master'
  'master'
  )
oc_build_targets=(
  'NOOPT'
  'DEBUG'
  'RELEASE'
  )
oc_release_targets=(
  'NOOPT'
  'DEBUG'
  'RELEASE'
  )
oc_release_files=(

  )
oc_release_dirs=(
  'Drivers'
  '' # root directory
  'Applications'
  )
