<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>CleanHeaders</key>
		<true/>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>DeviceName1</key>
		<dict>
			<key>Prop1</key>
			<string>Val1</string>
			<key>Prop2</key>
			<string>Val2</string>
		</dict>
		<key>DeviceName2</key>
		<dict>
			<key>Prop21</key>
			<string>Val21</string>
			<key>Prop22</key>
			<string>Val22</string>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>DataFix</key>
		<data>ESIz</data>
		<key>DataVar</key>
		<data>RFVm</data>
		<key>DataMeta</key>
		<string>123</string>
		<key>DataMetaVar</key>
		<data>MTIzAA==</data>
		<key>DataMeta3</key>
		<true/>
		<key>DataMeta4</key>
		<integer>65535</integer>
		<key>Test32</key>
		<integer>123456</integer>
	</dict>
	<key>Mods</key>
	<dict>
		<key>Kext</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>Hello</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Idt</string>
			</dict>
		</array>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>COOL:boot-args</key>
		<string>nopasaran=1 debug=1</string>
		<key>HACK:booter</key>
		<string>#something</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>Computer2,1</string>
	</dict>
</dict>
</plist>
